stages:
  - lint
  - test
  - build

variables:                         &default-vars
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       100
  CARGO_INCREMENTAL:               0
  CARGO_TARGET_DIR:                "/ci-cache/${CI_PROJECT_NAME}/targets/${CI_COMMIT_REF_NAME}/${CI_JOB_NAME}"
  CI_IMAGE:                        "paritytech/ci-linux:production"

.build-refs:                     &build-refs
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_COMMIT_REF_NAME == "master"
    - if: $CI_COMMIT_REF_NAME =~ /^v[0-9]+\.[0-9]+.*$/              # i.e. v1.0, v2.1rc1


.rust-info-script:                 &rust-info-script
  - rustup show
  - cargo --version
  - rustup +nightly show
  - cargo +nightly --version
  - bash --version
  - sccache -s

.docker-env:                       &docker-env
  image:                           "${CI_IMAGE}"
  before_script:
    - *rust-info-script
    - ./scripts/ci/pre_cache.sh
    - sccache -s
  retry:
    max: 2
    when:
      - runner_system_failure
      - unknown_failure
      - api_failure
  interruptible:                   true
  tags:
    - linux-docker

.kubernetes-env:                   &kubernetes-env
  retry:
    max: 2
    when:
      - runner_system_failure
      - unknown_failure
      - api_failure
  interruptible:                   true
  tags:
    - kubernetes-parity-build

.collect-artifacts:                &collect-artifacts
  artifacts:
    name:                          "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
    when:                          on_success
    expire_in:                     28 days
    paths:
      - ./artifacts/

#### stage:                        lint

fmt:
  stage:                           lint
  image:                           "${CI_IMAGE}"
  <<:                              *kubernetes-env
  script:
    - cargo +nightly fmt --all -- --check --config merge_imports=true

clippy:
  stage:                           lint
  <<:                              *docker-env
  # FIXME: with cache the job is stuck on locked `.cargo-lock` files
  variables:
    CARGO_TARGET_DIR:              "/builds/parity/grandpa-bridge-gadget"
    SCCACHE_DIR:                   "/builds/parity/grandpa-bridge-gadget"
    RUSTC_WRAPPER:                 ""
  before_script:
    - *rust-info-script
    - sccache -s
  script:
    - RUSTFLAGS="-D warnings" cargo +nightly clippy --all --verbose

#### stage:                       test

deny:
  stage:                           test
  <<:                              *docker-env
  <<:                              *collect-artifacts
  script:
    - cargo deny check --hide-inclusion-graph
  after_script:
    - mkdir -p ./artifacts
    - echo "___Complete logs can be found in the artifacts___"
    - cargo deny check --hide-inclusion-graph 2> cargo_deny.log

test:
  stage:                           test
  <<:                              *docker-env
  script:
    - cargo test --all  --verbose

check:
  stage:                           test
  <<:                              *docker-env
  script:
    - cargo check --all  --verbose

#### stage:                       build

build:
  stage:                           build
  <<:                              *build-refs
  <<:                              *docker-env
  script:
    - cargo build --all --release --verbose


